@import-normalize;
@import url("http://fonts.cdnfonts.com/css/gadugi");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans&display=swap");
@import url("https://www.dafontfree.net/data/1/s/1195/design.jasonwalcott.Scriptorama Markdown JF.ttf");

@font-face {
  font-family: "scriptoramamarkdownjfregular";
  src: url("./assets/fonts/scriptorama_markdown_jf_regular-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/scriptorama_markdown_jf_regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

$border-dark: #1F343E;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  background-color: #f8cc5d;
  min-width: 375px;
}
.group12 {
  width: 125px;
  height: 32px;
  margin-left: 16px;
  margin-bottom: 2px;
}
.navbarWrapper {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  height: 56px;
  border-bottom: 1px solid $border-dark;;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    top: 5px;
    padding: 0;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid $border-dark;
    li {
      margin-left: 16px;
      a {
        font-family: "Gadugi", sans-serif;

        text-decoration: none;
        color: $border-dark;
      }
      a:hover {
        color: #4eb3e3;
      }
      a:active {
        color: #4eb3e3;
      }
    }
  }
}

.hamburger {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  gap: 5px;
  flex-flow: column nowrap;
  z-index: 10;
  margin-right: 16px;
  .burger {
    width: 2rem;
    height: 0.25rem;
    border: 1px solid $border-dark;
    border-radius: 10px;
    background-color: #bdc1c3;
    transform-origin: 3px;
    transition: all 0.3s linear;
  }
}

.referalWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px auto auto auto;
  background: #f8f4f9 0% 0% no-repeat padding-box;
  border: 1px solid $border-dark;
  border-radius: 16px;
  opacity: 1;
  padding: 32px 16px;
  .headerWrapper {
    h1 {
      text-align: left;
      font: normal normal normal 32px/48px Caveat Brush;
      letter-spacing: 0px;
      color: $border-dark;
      text-transform: uppercase;
      opacity: 1;
      margin: 0;
    }
  }
  .paragraphWrapper {
    margin: 24px auto 24px auto;
    p {
      text-align: left;
      font: normal normal normal 16px/24px Noto Sans;
      letter-spacing: 0px;
      color: $border-dark;
      opacity: 1;
      margin: 0;
    }
  }
  .emailInputWrapper {
    display: flex;
    flex-direction: column;

    input {
      text-align: left;
      font: normal normal normal 16px/20px Noto Sans;
      letter-spacing: 0px;
      color: #6d7a80;
      opacity: 1;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid $border-dark;
      border-radius: 8px;
      height: 56px;
      opacity: 1;
      padding-left: 48px;
      width: 100%;
    }
    label {
      position: relative;
    }
    label::before {
      content: "";
      position: absolute;
      left: 16px;
      top: -15px;
      bottom: 0;
      width: 16px;
      background: url("./assets/email icon.svg") center / contain no-repeat;
    }
    button {
      background: #4eb3e3 0% 0% no-repeat padding-box;
      border: 1px solid $border-dark;
      border-radius: 8px;
      opacity: 1;
      height: 56px;
    }
    button {
      text-align: center;
      font: normal normal bold 16px/15px Noto Sans;
      letter-spacing: 0px;
      color: #ffffff;
      margin-bottom: 71px;
    }
    span {
      text-align: left;
      font: normal normal bold 16px/24px Noto Sans;
      letter-spacing: 0px;
      color: $border-dark;
      opacity: 1;
    }
    .success::before {
      position: relative;
      content: url("./assets/checkMark.svg");
      width: 32px;
      height: 32px;
      top: 10px;
      display: inline-block;
      margin-right: 8px;
    }
    .fail::before {
      position: relative;
      content: url("./assets/Flat_cross_icon.svg");
      width: 32px;
      height: 32px;
      top: 10px;
      display: inline-block;
      margin-right: 8px;
    }
    input,
    span {
      margin-bottom: 17px;
    }
    .copyWrapper {
      button {
        width: 100%;
      }
    }
  }
  .bottomWrapper {
    height: 30%;
    display: flex;
    align-items: flex-end;
    span {
      text-align: left;
      font: normal normal normal 16px/32px Noto Sans;
      letter-spacing: 0px;
      color: #6d7a80;
      opacity: 1;
    }
  }
}

.stepsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  .stepWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    h2 {
      text-align: center;
      font: normal normal bold 16px/24px Noto Sans;
      letter-spacing: 1.28px;
      color: #4eb3e3;
      text-transform: uppercase;
      opacity: 1;
      margin-top: 32px;
      margin-bottom: 0;
    }
    h3 {
      text-align: center;
      font: normal normal normal 24px/32px scriptoramamarkdownjfregular;
      letter-spacing: 0px;
      color: $border-dark;
      opacity: 1;
      text-transform: uppercase;
      margin-top: 16px;
      margin-bottom: 0;
    }
    p {
      text-align: center;
      font: normal normal normal 16px/24px Noto Sans;
      letter-spacing: 0px;
      color: $border-dark;
      opacity: 1;
      margin: 24px 32px;
      margin-bottom: 0;
    }
  }
}

.getAppWrapper {
  background-color: #45565e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  .storeWrapper {
    display: flex;
    border: 1px solid $border-dark;
    border-radius: 16px;
    padding: 15px 24px 16px;
    width: 100%;
    margin-bottom: 16px;
    img {
      margin-right: 20px;
      width: 56px;
      height: 52px;
    }
    div {
      h3 {
        text-align: left;
        font: normal normal normal 16px/16px Noto Sans;
        letter-spacing: 0px;
        color: #f8f4f9;
        opacity: 1;
        margin-top: 0;
      }
      h2 {
        text-align: left;
        font: normal normal bold 20px/16px Noto Sans;
        letter-spacing: 0px;
        color: #f8f4f9;
        opacity: 1;
        margin: 0;
      }
    }
  }
  .storeWrapper:hover {
    cursor: pointer;
  }
  .reviewWrapper {
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-top: 8px;
  }
}

.footerWrapper {
  padding: 32px;
  background-color: #f8f4f9;
  .bottomLogoWrapper {
    margin: 16px auto 32px auto;
  }
  h2 {
    text-align: left;
    font: normal normal bold 16px/24px Noto Sans;
    letter-spacing: 1.28px;
    color: $border-dark;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 23px;
  }
  .bottomParagraphWrapper {
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans;
    letter-spacing: 0px;
    color: $border-dark;
    opacity: 1;
  }
  .menuWrapper {
    .linkWrapper {
      margin-bottom: 32px;
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 15px;
          a {
            text-decoration: none;
            text-align: left;
            font: normal normal normal 16px/24px Noto Sans;
            letter-spacing: 0px;
            color: $border-dark;
            opacity: 1;
          }
        }
      }
    }
  }
  .contactWrapper {
    margin-bottom: 32px;
    span {
      text-align: left;
      font: normal normal normal 16px/24px Noto Sans;
      letter-spacing: 0px;
      color: $border-dark;
      opacity: 1;
    }
    span::before {
      content: url("./assets/Icon feather-mail.svg");
      width: 16px;
      height: 13px;
      margin-right: 16px;
    }
  }

  .socialWrapper {
    ul {
      list-style: none;
      display: flex;
      gap: 8px;
      padding: 0;
      li {
        img {
          width: 32px;
          height: 32px;
          border: 1px solid $border-dark;
          border-radius: 8px;
          opacity: 1;
        }
      }
    }
  }

  .watermarkWrapper {
    position: relative;
    bottom: -32rem;
    margin: 48px 13px 16px 0px;
    span {
      position: absolute;
      bottom: 16px;
      text-align: left;
      font: normal normal normal 16px/24px Noto Sans;
      letter-spacing: 0px;
      color: #6d7a80;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 767px) {
  .App{
    min-width: 1290px;
  }
  .hamburger {
    display: none;
  }
  .navbarWrapper {
    justify-content: space-around;
  }
  .mainWrapper {
    display: flex;
    .referalWrapper {
      width: 50%;
      margin: 5% 4% 7% 12%;
      justify-content: initial;
      h1 {
        text-align: left;
        font: normal normal normal 48px/72px Caveat Brush;
      }
      button {
        margin-bottom: 153px;
      }
      .copyWrapper {
        display: flex;
        input {
          width: 80%;
          border-radius: 8px 0px 0px 8px;
        }
        button {
          width: 20%;
          border: 1px solid $border-dark;
          border-radius: 0px 8px 8px 0px;
        }
      }
    }
    .stepsWrapper {
      width: 50%;
      margin: 7% 15% 7% 4%;
      .stepWrapper {
        display: flex;
        flex-direction: row;
        margin: 0;
        img {
          margin-right: 50px;
        }
        h2 {
          text-align: left;
          font: normal normal bold 20px/32px Noto Sans;
          letter-spacing: 1.6px;
        }
        h3 {
          text-align: left;
          font: normal normal normal 32px/48px Caveat Brush;
        }
        p {
          text-align: left;
          font: normal normal normal 20px/32px Noto Sans;
          margin: 0;
        }
      }
      .stepWrapper:nth-of-type(2) {
        flex-direction: row-reverse;
        img {
          margin-left: 50px;
        }
      }
    }
  }

  .getAppWrapper {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    .storeWrapper,
    .reviewWrapper {
      width: 20%;
      h3 {
        font: normal normal normal 16px/16px Noto Sans;
      }
      h2 {
        font: normal normal bold 20px/16px Gadugi;
      }
      span {
        font: normal normal normal 20px/24px Noto Sans;
        position: relative;
        bottom: 14px;
      }
    }
  }

  .footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;

    .columnOne {
      width: 25%;

      p,
      li {
        font: normal normal normal 16px/24px Noto Sans;
      }
      h2 {
        font: normal normal bold 20px/24px Noto Sans;
      }
    }
    .columnTwo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .watermarkWrapper {
      position: initial;
      span {
        position: initial;
      }
    }
  }
}

@media only screen and (min-width: 1488px){
  .mainWrapper{
    .referalWrapper {
      margin: 5% 4% 7% 20%
    }
  }


}